In [6]:
import pandas as pd

In [ ]:
data=pd.read_csv('vehicles_us.csv') #Load the dataset
data.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [ ]:
data.info() #Check the data types and null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [9]:
data.columns
## checking the columns of the data

Index(['price', 'model_year', 'model', 'condition', 'cylinders', 'fuel',
       'odometer', 'transmission', 'type', 'paint_color', 'is_4wd',
       'date_posted', 'days_listed'],
      dtype='object')

In [10]:
data.isnull().sum()
## checking the null values in the data

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [ ]:
## replacing the null values with unknown in the data
data['model_year']=data['model_year'].fillna('unknown')     
data['odometer']=data['odometer'].fillna('unknown')
data['paint_color']=data['paint_color'].fillna('unknown')
data['is_4wd']=data['is_4wd'].fillna('unknown')
data.isnull().sum()

price           0
model_year      0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
type            0
paint_color     0
is_4wd          0
date_posted     0
days_listed     0
dtype: int64

In [12]:
data.duplicated() ## checking the duplicate values in the data

0        False
1        False
2        False
3        False
4        False
         ...
51520    False
51521    False
51522    False
51523    False
51524    False
Length: 51525, dtype: bool

In [13]:
data.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,unknown,1.0,2018-06-23,19
1,25500,unknown,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,unknown,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,unknown,automatic,pickup,unknown,unknown,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,unknown,2019-04-02,28

In [ ]:
#checkin the unique conditions in the data

unique_conditions = sorted(data['condition'].unique())
for idx, condition in enumerate(unique_conditions, start=1):
    print(f"{idx}. {condition}")

1. excellent
2. fair
3. good
4. like new
5. new
6. salvage

In [ ]:
## checking the unique types in the data
unique_type = sorted(data['type'].unique())
for idx, type in enumerate(unique_type, start=1):
    print(f"{idx}. {type}")

1. SUV
2. bus
3. convertible
4. coupe
5. hatchback
6. mini-van
7. offroad
8. other
9. pickup
10. sedan
11. truck
12. van
13. wagon

In [ ]:
###checkin the unique paint colors in the data
unique_paint_colors = data['paint_color'].unique()
for idx, color in enumerate(unique_paint_colors, start=1):
    print(f"{idx}. {color}")

1. unknown
2. white
3. red
4. black
5. blue
6. grey
7. silver
8. custom
9. orange
10. yellow
11. brown
12. green
13. purple

In [ ]:
##Exploring minimum and maximum values of the data
print('Max price = ',data.price.max())

print('Min price = ',data.price.min())  

min_model_year_int = data[data['model_year'] != 'unknown']['model_year'].astype(float).astype(int).min()
print('Minimum model_year (excluding "unknown"):', min_model_year_int)

max_model_year_int = data[data['model_year'] != 'unknown']['model_year'].astype(float).astype(int).max()
print('Maximum model_year (excluding "unknown"):', max_model_year_int)


print(data.condition.unique())

max_cylinders_int = data[data['cylinders'] != 'unknown']['cylinders'].astype(float).astype(int).max()
print('Maximum cylinders (excluding "unknown"):', max_cylinders_int)


min_cylinders_int = data[data['cylinders'] != 'unknown']['cylinders'].astype(float).astype(int).min()
print('Minimum cylinders (excluding "unknown"):', min_cylinders_int)

##print('Max odometer = ',data.odometer.max())
max_odometer_int = data[data['odometer'] != 'unknown']['odometer'].astype(float).astype(int).max()
print('Maximum odometer (excluding "unknown"):', max_odometer_int)

##print('Min odometer = ', data.odometer.min())
min_odometer_int = data[data['odometer'] != 'unknown']['odometer'].astype(float).astype(int).min()
print('Minimum odometer (excluding "unknown"):', min_odometer_int)



max_days_listed = data[data['days_listed'] != 'unknown']['days_listed'].astype(float).max()
print('Maximum days_listed (excluding "unknown"):', max_days_listed)


min_days_listed = data[data['days_listed'] != 'unknown']['days_listed'].astype(float).min()
print('Minimum days_listed (excluding "unknown"):', min_days_listed)

Max price =  375000
Min price =  1
Minimum model_year (excluding "unknown"): 1908
Maximum model_year (excluding "unknown"): 2019
['good' 'like new' 'fair' 'excellent' 'salvage' 'new']
Maximum cylinders (excluding "unknown"): 12
Minimum cylinders (excluding "unknown"): 3
Maximum odometer (excluding "unknown"): 990000
Minimum odometer (excluding "unknown"): 0
Maximum days_listed (excluding "unknown"): 271.0
Minimum days_listed (excluding "unknown"): 0.0